*{
    margin: 0;
    padding: 0;
}
.box {
    height: 75px;
    width: 75x;
    border: 3px solid black;
    margin: 5px;
}
#heading {text-align: center;}
#container {
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: lavender;
    display: flex;
    flex-direction:column-reverse;
}
#box1 {background-color: aqua;width: 75px;}
#box2 {background-color: blueviolet;width: 75px;}
#box3 {background-color: yellow;width: 75px;}
#box4 {background-color: tomato;width: 75px;}