*{
    margin: 0;
    padding: 0;
}
.box {
    height: 200px;
    border: 3px solid black;
    margin: 5px;
}
#heading {text-align: center;}
#container {
    height: 300px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: lavender;

    display: flex;
    justify-content: center;  
    
    
}
#box1 {background-color: aqua;width: 200px;}
#box2 {background-color: blueviolet;width: 200px;
       flex-shrink: 2;} /* flex-item will shrink relative to other items by some order written as number */
       
      
#box3 {background-color: yellow;width: 200px;}
#box4 {background-color: tomato;width: 200px;
       flex-shrink: 0.5;}