*{
    margin: 0;
    padding: 0;
}
.box {
    height: 75px;
    width: 75x;
    border: 3px solid black;
}
#heading {text-align: center;}
#container {
    height: 300px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: lavender;
    display:grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 100px;
}
#box1 {
    background-color: aqua;
    width: 75px;
    grid-row:1/2 ;
    grid-column:1/2 ;
}

#box2 {
    background-color: blueviolet;
    width: 75px;
    grid-row: 1/2 ;
    grid-column:2/2 ;
}

#box3 {
    background-color: yellow;
    width: 75px;
    grid-row: 2/2;
    grid-column:1/2;
}

#box4 {
    background-color: tomato;
    width: 75px;
    grid-row: 2/2;
    grid-column: 2/2;
}